<!DOCTYPE html>
<head>
	<meta charset="utf-8">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.csss" rel="stylesheet">

  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
  rel="stylesheet">
  <style>
    .fa-linkedin { background: #007bb5; color: white;}
    .fa-github {background: #333333; color: white;}
  </style>
</head>

<body>

<div class="container-fluid bg-1 text-center">
  <h3><font color="gray">Who Am I?</font></h3>
</div>

<div class="container-fluid bg-2 text-center">
  <p><font color="#373d3F">To Whom it may concern:</p>
    <p>My name is Jiawen Zhu, a graduate of San Francisco State University with a GPA of 3.45. I can work full time since I have finished my schooling.
    
    <p>Although I am a very humble person, I will list my accomplishments.  In my Computer Science class, I led my team in creating a fully functional website. I was the front-end tech lead and enjoyed talking to my teammates anywhere. We used Slack as our communication tool, while we were not able to meet. No matter how much of a struggle we had at the time,  We have always followed industry procedures. By continuously working hard, we were able to deliver a fully functional and well-tested web application. Besides the coursework, I also built a chat application for my side project, because I was very interested in learning chat applications. It was a communication tool which allows users to send texts and files to each other through provided IP address.
    
     <p>For my professional life, I worked with a PHD professor to help the students to improve their knowledge in a software development class. In the end, the students, successfully, were able to build many interesting applications with java including Parser, Compiler, and a game we designed in Java OOP.  I was very happy to help many students with different skills sets which also brought the joy of working with different people; with different backgrounds and knowledge.   I think I will be a great fit for the company since I have worked with people from all over the world. It’s been fascinating. this past year, I have worked with people from Vietnam, Russian, Korean and China. Finally, I’m looking forward to contributing my knowledge and energy to meet our company goals.</font>
    </h3>
  <p1>
  	
  </p1>
</div>
</body>
<!-- footer -->

<!--Footer-->
<footer class="page-footer font-small stylish-color-dark pt-4 mt-4">
  <a type="button" href= "https://www.linkedin.com/in/zhu-jiawen-1b166430/" class="fa-linkedin"></i> Linkedin</a>

  <a type="button" href="https://github.com/JiawenZhu" class="fa-github"></i> Github</a>

</footer>
<!--/.Footer-->
                      

</html>