<!DOCTYPE html>
<head>
	<meta charset="utf-8">
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

<div class="container-fluid bg-1 text-center">
  <h3>Who Am I?</h3>
  <img src="./profile_image.jpg" class="img-circle" alt="Jiawen" height="40" width="35">
  <h3>I'm an adventurer</h3>
</div>

<div class="container-fluid bg-2 text-center">
  <h3>How Am I?</h3>
  <p1>
  	
  </p1>
</div>
</body>
<!-- footer -->

<!--Footer-->
<footer class="page-footer font-small stylish-color-dark pt-4 mt-4">

</footer>
<!--/.Footer-->
                      

</html>