<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="style.css">
  <style>
    .fa-linkedin { background: #007bb5; color: white;}
    .fa-github {background: #333333; color: white;}
    .button {
      background-color: #4CAF50; /* Green */
      border: none;           
      color: white;
      padding: 15px 32px;
      text-align: left;
      text-decoration: none;
      display: inline-block;
      font-size: 36px;
    }
    .paragraph1{
      text-align: left;
      font-size: 150%;
      padding-top: 3%;
      padding-inline-end: 15%;
      padding-left: 30%;
      padding-right: 35%;
    }
    div .text{
      width: 100%;
      height: auto;
    }
  </style>
</head>
<body>
  <%- include('header.ejs') %>
<div class="container" class="container-fluid bg-1">
  <h3 style="text-align: center"><font color="gray">Who Am I?</font></h3>
  <a href="https://imgbb.com/"><img src="https://image.ibb.co/fGdM8p/profile.png" alt="profile" width="30%" height="30%"></a><br/>
</div>
<div class="text-center text">
  <p class= "paragraph1">To whom it may concern<br>

      This letter is to express my interest in applying for employment with your company.
      I just graduated from San Francisco State with a <strong>Bachelor of Science</strong> (Computer Science) in the summer of 2018.<br>  I a currently doing a <strong>software engineering internship</strong> with Shell Star, Inc., based in Milpitas, CA. <br/>
      
      My job is to troubleshoot and <strong>maintain</strong> the company’s website.  On the job, I have learned how to <strong>communicate</strong> with colleagues efficiently and effectively.  I also have improved my coding as well as <strong>team work</strong> skills tremendously.<br>
      
      I'm seeking a full time <strong>Jr. web developer </strong>position<br>
      <br/>
  </p>
</div>
<a type="button" href= "https://www.linkedin.com/in/zhu-jiawen-1b166430/" class="fa-linkedin"></i> Linkedin
</a>
<a type="button" href="https://github.com/JiawenZhu" class="fa-github"></i> Github
</a>
<%- include('footer.ejs') %>
</body>
</html>