<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.2/p5.js"></script>
  <script language="javascript" type="text/javascript" src="book1/p5.dom.js"></script>
  <script src="book1/sketch.js"></script>
  <title>book1</title>
</head>
<body style="padding: 100px">
  <div style="text-align: center">
    welcome to book1
    <script>
    </script>
  </div>
</body>
</html>