<html>
    <head>
        <script src="../vendor/jquery/">
        </script>
    </head>
    <footer style= "background-color: black" class="py-5">
        <div class="container" style="height: 100px; background-color: black; text-align: center">
            <p class="m-0 text-center "><font style="color: white">Copyright &copy; My projects 2018</font></p>
        </div>
    </footer>
</html>
  
