<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>
    <script> 
      $(function(){
        $("#header").load("header"); 
        $("#footer").load("footer"); 
      });
    </script>
    <title>Jiawen Zhu projects</title>

    <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <div id="header"></div>
  <body>
    <!-- Page Content -->
    <div class="container">
        <!-- Page Heading -->
        <h3 class="my-4">
            <small>chat application</small>
        </h3>

        <!-- Project One -->
        <iframe width="560" height="315" src="https://www.youtube.com/embed/ry26xM9stJ8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        <!-- /.row -->

        <hr>
        <h3 class="my-4">
            <small>stock game</small>
        </h3>
        <!-- Project Two -->
        <iframe width="560" height="315" src="https://www.youtube.com/embed/N5neqOorc94" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        <!-- /.row -->

        <hr>
    </div>
  </body>
  <div id="footer"></div>
  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</html>
