<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://www.paypalobjects.com/api/checkout.js"></script>
    <script> 
      $(function(){
        $("#header").load("header"); 
        $("#footer").load("footer"); 
      });
    </script>
    <title>Jiawen Zhu projects</title>

    <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <div id="header"></div>
  <body>
    <!-- Page Content -->
    <div class="container", style="padding-left: 20px; padding-top: 50px">
        <!-- Page Heading -->
        <h3 class="my-4">
            <small>chat application</small>
        </h3>
        <!-- Project One -->
        <iframe width="560" height="315" src="https://www.youtube.com/embed/ry26xM9stJ8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        <!-- /.row -->

        <hr>
        <h3 class="my-4">
            <small>stock game</small>
        </h3>
        <!-- Project Two -->
        <iframe width="560" height="315" src="https://www.youtube.com/embed/N5neqOorc94" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        <!-- /.row -->

        <h4 class="my-4">
          <small> my facebook shared video</small>
        </h4>
          <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FFirstMediaBlossom%2Fvideos%2F10155742161654586%2F&show_text=0&width=476" width="476" height="476" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
        <hr>
    </div>
    <div id="paypal-button-container"></div>

       <!-- paypal button  -->
    <script>
        paypal.Button.render({

            env: 'sandbox', // sandbox | production

            // PayPal Client IDs - replace with your own
            // Create a PayPal app: https://developer.paypal.com/developer/applications/create
            client: {
                sandbox:    'AZDxjDScFpQtjWTOUtWKbyN_bDt4OgqaF4eYXlewfBP4-8aqX3PiV8e1GWU6liB2CUXlkA59kJXE7M6R',
                production: '<insert production client id>'
            },

            // Show the buyer a 'Pay Now' button in the checkout flow
            commit: true,

            // payment() is called when the button is clicked
            payment: function(data, actions) {

                // Make a call to the REST api to create the payment
                return actions.payment.create({
                    payment: {
                        transactions: [
                            {
                                amount: { total: '0.01', currency: 'USD' }
                            }
                        ]
                    }
                });
            },

            // onAuthorize() is called when the buyer approves the payment
            onAuthorize: function(data, actions) {

                // Make a call to the REST api to execute the payment
                return actions.payment.execute().then(function() {
                    window.alert('Payment Complete!');
                });
            }

        }, '#paypal-button-container');

    </script>
  </body>
  <footer>
    <div id="footer"></div>
  </footer>
  
  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</html>
