.fa-linkedin { background: #007bb5; color: white;}
.fa-github {background: #333333; color: white;}
.button {
  background-color: #4CAF50; /* Green */
  border: none;           
  color: white;
  padding: 15px 32px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 36px;
}
.paragraph1{
  text-align: left;
  font-size: 150%;
  padding-top: 3%;
  padding-inline-end: 15%;
  padding-left: 30%;
  padding-right: 35%;
}
img {
    position: relative;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    0%   {left:0px; top:0px;}
    25%  {left:200px; top:0px;}
    50%  {left:200px; top:200px;}
    75%  {left:0px; top:200px;}
    100% {left:0px; top:0px;}
}

/* Standard syntax */
@keyframes example {
    0%   {left:0px; top:0px;transform: rotate(90deg)}
    25%  {left:200px; top:0px;}
    50%  {left:200px; top:200px;transform: rotate(-90deg)}
    75%  {left:0px; top:200px;}
    100% {left:0px; top:0px;}
}
.iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
  }
  .iframe-container iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }